.hero{
    background-image: url(/img/faded-office.png);
    background-size: cover;
}


.title{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    margin-left: 20px;
}


.description{
    margin-left: 20px;
}


.underline{
    border-bottom: 5px solid #0ea5e9;
}

.chat{
    margin: 10px 0px 0px 20px;
    background-color: #0ea5e9;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border: none;
    font-weight: 600;
}